.Header {
	background: rgb(255, 255, 255);
	display: flex;
	justify-content: center;

	display: flex;
	width: 100vw;
}
.Header__center {
	display: flex;
	width: 70%;
	padding: 1% 0;
}
.Header__content {
	margin: auto;
	justify-content: center;
	display: flex;
	gap: 15vw;
}
.Header__logo_name {
	display: flex;
	align-items: center;
	gap: 5px;
}
.Header__logo_ellipse1 {
	height: 70%;
	aspect-ratio: 1/1;
	box-sizing: border-box;
	border: 1px solid rgb(51, 51, 51);
	border-radius: 50%;
}
.Header__logo_ellipse2 {
	height: 70%;
	aspect-ratio: 2/1;
	box-sizing: border-box;
	border: 1px solid rgb(51, 51, 51);
	border-radius: 20px;
}
.Header__logo_text {
	color: rgb(51, 51, 51);
	font-family: Ubuntu;
	font-size: 2.2vh;
}
.Header__nav {
	display: flex;
	gap: 4vw;
}
.Header__nav_link {
	color: rgb(76, 88, 102);
	font-size: 2.1vh;
	font-weight: 400;
	line-height: 1;
	text-decoration: none;
	transition: 0.4s;
}
.Header__nav_link::after {
	background-color: grey;
	content: '';
	display: block;
	height: 5%;
	transition: width 0.3s ease-out;
	width: 0;
}
.Header__nav_link:focus:after,
.Header__nav_link:hover:after {
	width: 100%;
}
.Header__nav_search_login {
	display: flex;
	gap: 2vw;
}
.Header__nav_search,
.Header__nav_login {
	cursor: pointer;
	height: 70%;
	aspect-ratio: 1/1;
}
